* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
  ;
}

.col-50 {
  width: 50%;
}

.post {
  width: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
}

.post span {
  color: blue;
}